@media (min-width: 768px){
    .menu{
    display: var(--display);
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu li{
    display: var(--display);
    text-align: center;
    flex-direction: var(--direction);
    align-items: center;
}
.menu li h4{
    font-size: 0.8rem;
    padding-bottom: var(--space);
}
}
@media (min-width: 992px){
    .menu li h4{
    font-size: 1rem;
}
.checkbox-group, .radio-group{
    grid-template-columns:repeat(3, 1fr);
    padding: 2rem;
}
}
@media (min-width: 1200px){
    .checkbox-group{
    grid-template-columns:repeat(6, 1fr);
    padding: 1.125rem;
}
.radio-group{
    grid-template-columns: repeat(3, 1fr);
    padding: 1.125rem;
    gap: var(--space);
}
}
